<!DOCTYPE html>
<div class="try">

<head>
    <meta charset="utf-8" />

    <title>Scool</title>
<br>

</head>

 <div class="body1" dir="rtl">
    <p>
        <mat-toolbar>
         <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon><img src="src\img\logo.png" ></mat-icon>
        </button>
        <span>School</span>
        <span class="example-spacer"></span>
      </mat-toolbar>
      </p>
      <p>You have received a file called "cat-picture.jpeg".</p>

<button mat-raised-button (click)="openBottomSheet()">Open file</button>

    

</div>
</div>