.pageContainer{
    text-align: center;
color:  rgb(210, 215, 219);
background-color: rgb(255, 255, 255);
background-image: url("BusinessOptimization.gif");

background-repeat: no-repeat;
background-position:center center;
// right:  30px; 
position: relative;
width: 100%;
background-size:100% 100%;
// overflow:scroll;
font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    // font-size: 81.25%;

}
head{
 position: top;
 font-size: 100px;

}

img{
  // background-image:'BusinessOptimization.gif';
margin: 0px;
  background-position: top center;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  // background-position:  center center;
  // background-attachment: scroll;
  background-attachment:fixed;
  // background-size:100% 100%;
// position: absolute;
}
// button{
//  text-align: right;
//   font-size: 25px;
//  }

.example-card{
  max-width: 400px;
  margin: 20px;
  // background-color:rgb(200,200,200);
  background-color:rgb(210, 215, 219);
  color:  black;

  opacity: 0.3;

}
.example-spacer {
  flex: 1 1 auto;

}
imgWelcome{
  right:  30px; 
// top:80px;
margin: 0px;
background-position: top center;
width: 100%;
position: relative;
background-repeat: no-repeat;
// background-position:  center center;
// background-attachment: scroll;
background-attachment:fixed;
background-size:100% 100%;
// position: absolute;
}
